body {
    font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	margin: 0;
}

svg {
	width: 30px;
}

abbr {
	text-decoration: none !important;
}

nav {
	height: 60px;
    background-color: #D3E0DF;
    width: 100%;
}

a {
	color: #004C54;
	text-decoration: none;
}

header {
	background-color: #004C54;
    text-align: center;
    color: #D3E0DF;
    height: 100vh;
}

h1 {
	margin: 0;
	color: #F1F5F2;
}

h2 {
	color: #004C54;
	margin: 0;
	text-align: center;
	padding-bottom: 30px;
}

h3 {
	color: #1A1A1A;
}

img {
	width: 100%;
}


#intro {
	padding: 10vh 3vw;
}

#about {
	background-color: #FCFCFC;
	padding: 30px 20px;
}

#about p {
	color: #525252;
}