body {
    font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	margin: 0;
	line-height: 1.6;
}

svg {
	width: 40px;
    padding: 0 10px;
}

svg:hover {
	opacity: 70%;
}

abbr {
	text-decoration: none !important;
}

nav {
	height: 60px;
    background-color: #1A1A1A	;
	width: 100%;
	font-weight: bold;
    text-align: center;
}

nav.switch {
	position: relative;
	padding-bottom: 196px;
}

nav a {
	display: none;
	color: #C0C0C0;
	padding: 0 1%;
	font-size: 18px;
	position: relative;
    top: 15px;
}

nav a:hover {
	color: #F1F5F2;
}

nav.switch a {
	display: block;
	text-align: left;
	position: relative;
	top: 60px;
	left: 13px;
	padding-bottom: 20px;
}

nav a.ham-menu {
	display: block;
	position: relative;
    top: 7px;
    left: -129px;
}

nav.switch a.ham-menu {
	position: absolute;
    left: -1px;
}

a {
	color: #004C54;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

header {
	background-color: #004C54;
    text-align: center;
    color: #C0C0C0;
    height: 100vh;
}

h1 {
	margin: 0;
	color: #F1F5F2;
	line-height: 1.2;
}

h2 {
	color: #004C54;
	margin: 0;
	padding-bottom: 30px;
	line-height: 1.2;
}

h3 {
	color: #1A1A1A;
	line-height: 1.2;
}

img {
	width: 100%;
	max-width: 100%;
	color: #004C54;
}

footer {
	background-color: #C0C0C0;
}

footer,
#about,
#projects,
#knowledge {
	padding: 30px 20px;
}

.KST {
	padding: 20px;
    background-color: #F1F5F2;
	border-radius: 3px;
	margin: 20px 0;
	border: solid 1px #C0C0C0;
}

.KST h3 {
	color: #004C54;
}

.KST li {
	color: #525252;
}

.project-box {
	padding: 20px 0 0 0;
	background-color: #FCFCFC;
	border-radius: 3px;
	margin: 20px 0;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border: solid 1px #C0C0C0;
    text-align: center;
}

.project-box:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.project-box img {
	margin-bottom: -8px;
	border-radius: 0 0 3px 3px;
}



#intro {
	padding: 10vh 3vw;
}

#about,
#projects {
	background-color: #FCFCFC;
}

#about p {
	color: #525252;
}

#about img {
	border-radius: 3px;
	max-width: 4032px;
}

#knowledge {
	background-color: #004C54;
}

#knowledge h2,
#knowledge p {
	color: #F1F5F2;
}

#knowledge h3 {
	margin-top: 0;
}

#knowledge ul {
	margin-bottom: 0;
}

#projects p {
	margin-top: 0;
	font-weight: bold;
}



@media only screen and (min-width: 321px) {
	
	.project-box {
		width: 280px;
	}

	.KST {
		width: 240px;
	}

	#knowledge,
	#projects {
		padding: 30px auto;
	}
}


@media only screen and (min-width: 400px) {
	nav.switch {
		padding-bottom: 0;
		height: 60px;
	}

	nav a.ham-menu,
	nav.switch a.ham-menu {
		display: none;
	}

	nav.switch a,
	nav a {
		display: inline-block;
		top: 15px;
	}
}


@media only screen and (min-width: 321px) and (max-width: 645px) {

	.KST,
	.project-box {
		position: relative;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, 0);
	}
}


@media only screen and (min-width: 646px) {

	header {
		height: 0;
		width: 100%;
		padding-top: 48%;
		background-image: url("https://halfelfalistair.github.io/assets/images/alistair_landscape.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}

	h1,
	#intro p {
		position: relative;
    	top: 14%;
	}

	.container {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	.KST,
	.project-box {
		position: static;
		margin: 10px 0;
	}

	#knowledge_box,
	#LP,
	#TD {
		margin-right: 10px;
	}

	#tools,
	#SF,
	#TP {
		margin-left: 10px;
	}

	footer,
	#about,
	#projects,
	#knowledge {
		padding: 30px auto;
	}

	.content {
		width: 606px;
		position: relative;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, 0);
	}

	#top-img {
		display: none;
	}

	#intro {
		width: 43%;
		padding: 30px 20px;
		background-color: #004C54;
		opacity: 90%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	}

	#TP p {
		padding: 14px 0;
	}

}


@media only screen and (min-width: 700px) {

	h1 {
		font-size: 34px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 20px;
	}

	p,
	ul {
		font-size: 17px;
	}

	nav a {
		font-size: 19px;
	}

}


@media only screen and (min-width: 749px) {
	h1,
	#intro p {
    	top: 29%;
	}
}


@media only screen and (min-width: 892px) {
	h1,
	#intro p {
    	top: 35%;
	}
}


@media only screen and (min-width: 1024px) {

	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 21px;
	}

	p,
	ul {
		font-size: 18px;
	}

	h1,
	#intro p {
    	top: 39%;
	}
}


@media only screen and (min-width: 1455px) {
	h1,
	#intro p {
    	top: 44%;
	}
}