body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
	font-size: 18px;
}

.grid {
	width: 100%;
	height: 4800px;
	display: grid;
	grid-template: 60px 450px 536px 330px 431px 840px 153px 450px 50px 500px 600px 500px / 25% 25% 50%;
}

.box {
	background-color: #FFFFFF;
	color: #000000;
}


.a {
	grid-area: 1 / span 3;
	background-color: #f0fff8;
}

nav ul {
	position: absolute;
	right: 50px;
}

nav ul li {
	display: inline-block;
}

.b {
	grid-area: 2 / span 3;
	padding: 25px 300px;
}

h1 {
    margin-bottom: 0;
	text-align: center;
	padding: 15px 10px 25px;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

p {
	margin left: 10px;
	padding-top: 5px;
}

a:link {
		text-decoration: none;
		color: #8520A7;
}

a:visited {
	text-decoration: none;
	color: #0E8168;
}

a:hover {
	text-decoration: underline;
	color: #7f03fc;
}

.c {
	grid-area:3 / span 3;
}

.c img {
    width: 100%;
}

.d {
	grid-area: 4 / span 3;
	padding: 25px 300px;
}

.e {
	grid-area: 5 / span 3;
	text-align: center;
	background-color: #dce6e1;
	padding: 30px;
	margin: 25px 300px;
}

.f {
	grid-area: 6 / span 3;
	padding: 25px 300px;
}

.g {
	grid-area: 7 / span 3;
	background-color: #dce6e1;
	padding: 34px 0px;
}

.h {
	grid-area: 8 / span 3;
	padding: 25px 300px;
}

.KST {
	grid-area: 9 / span 2;
}

.i {
	grid-area: 10 / 1;
	padding: 25px 25px;
	line-height: 40px;
}

.j {
	grid-area: 10 / 2;
	padding: 25px 25px;
	line-height: 40px;
}

.k {
	grid-area: 9 / 3 / span 2 / 3;
}

.l {
	grid-area: 11 / span 3;
	padding: 25px 300px;
}

.m {
	grid-area: 12 / span 3;
	padding: 25px 300px;
}