body {
    font-family: inter, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    margin: 0;
    line-height: 1.6;
    overflow-y: scroll;
}

a {
    text-decoration: none
}

svg {
    width: 40px;
}

svg:hover {
    opacity: 80%;
}

abbr {
    text-decoration: none !important;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #F8F8FF;
    line-height: 1.2;
}

.title-container h1 {
    margin: 32px 0 24px;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.gradient-bg {
    background: linear-gradient(180deg, rgba(0, 15, 17, 1) 0%, rgba(0, 76, 84, 1) 100%);
    position: fixed;
    inset: 0;
    z-index: -1;
}

.home,
.portfolio,
.posts,
.about,
.article {
    width: 100vw;
}

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 24px;
}

.about-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 412px;
}

.barrier {
    height: 10%;
    width: 100vw;
}

.personal-bio {
    padding: 165px 16px 90px;
}

.content {
    height: 80%;
    width: 100vw;
    flex-wrap: wrap;
    padding-bottom: 48px;
}

nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    overflow: hidden;
    top: 0;
    left: 0;
}

.nav-dropdown {
    width: 100%;
    position: fixed;
    left: 0;
    top: 75px;
    height: 100%;
}

.nav-dropdown-green {
    background: linear-gradient(180deg, rgba(0, 15, 17, 1) 0%, rgba(0, 76, 84, 1) 100%);
}

.nav-dropdown-white {
    background-color: #F8F8FF;
}

.nav-content-vertical {
    padding: 24px 16px 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-content: start;
}

.nav-content-horizontal {
    display: flex;
    align-items: center;
}

.nav-links-vertical {
    display: flex;
    flex-wrap: wrap;
}

.nav-link {
    width: 100%;
    padding: 12px 0;
    margin-top: 20px;
    font-size: 18px;
}

.nav-link:hover,
.email-link:hover {
    opacity: 80%;
}

.nav-link-green {
    color: #F8F8FF;
}

.nav-link-white {
    color: #004C54;
}

.nav-links-vertical .nav-link-white {
    border-bottom: solid 1px #EBEBFF;
}

footer {
    background-color: #004C54;
    padding: 16px 16px 48px;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 100%;
}

footer h2 {
    color: #F8F8FF;
    font-weight: 600;
    margin: 0;
}

footer p {
    color: #F8F8FF;
}

footer a {
    color: #F8F8FF;
}

.footer-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;
}

.transparentNav {
    background-color: transparent;
    transition: background-color 0.7s ease, color 0.7s ease;
}

.transparentNav .nav-link {
    color: #F8F8FF;
}

.opaqueNav {
    background-color: #F8F8FF;
    box-shadow: 0 6px 10px rgb(0 0 0 / 0.1);
    transition: background-color 0.7s ease, color 0.7s ease;
}

.opaqueNav .nav-link {
    color: #004C54;
}

.nav-with-links {
    justify-content: center;
}

.nav-with-burger {
    justify-content: end;
}

.hamburger-container {
    padding: 0 20px;
}

.hamburger-icon {
    margin: 0;
}

.nav-link {
    font-size: 20px;
    font-weight: 500;
    line-height: auto;
    padding: 0 16px;
}

.profile-img-container {
    width: 100%;
}

.profile-img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.bio-text-container {
    flex-wrap: wrap;
}

.bio-text-container p {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #F8F8FF;
    margin: 0 0 24px;
    line-height: 1.5;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-container {
    height: 90px;
    flex-shrink: 0;
    opacity: 0;
}

.title-container {
    width: 100%;
    height: 90px;
    flex-shrink: 0;
    padding-top: 75px;
}

.title-container h1 {
    font-size: 36px;
    font-weight: bold;
    color: #F8F8FF;
    line-height: 1.2;
}

.arrow-container:hover {
    opacity: 1;
    transition-duration: 2s;
}

.arrow-up-container {
    padding-top: 75px;
}

.content-card {
    height: 90%;
    max-height: 917px;
    width: 100%;
    max-width: 412px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.thumbnail-container {
    height: 40%;
    width: 90%;
    background: linear-gradient(270deg, rgba(0, 250, 150, 1) 0%, rgba(0, 76, 84, 1) 100%);
    border-radius: 18px;
}

.thumbnail-container img {
    height: 90%;
    width: 90%;
    padding: 5%;
    border-radius: 24px;
}

.card-title-container {
    height: 10%;
    width: 90%;
}

.card-title-container h2 {
    font-size: 24px;
    font-weight: 600;
    color: #F8F8FF;
    line-height: 2;
    margin: 0;
}

.description-container {
    max-height: 40%;
    width: 90%;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: #00FA96;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 15, 17, 1)
}

.description-container::-webkit-scrollbar {
    width: 8px;
}

.description-container::-webkit-scrollbar-thumb {
    background: #D9DBE3;
    border-radius: 10px;
}

.description-container p {
    font-size: 16px;
    font-weight: 400;
    color: #F8F8FF;
    margin: 0;
}

.card-links {
    height: 10%;
    width: 90%;
    display: flex;
    align-items: start;
    padding-top: 16px;
}

.btn,
.btn-green {
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
    height: fit-content;
}

.btn {
    background-color: #F8F8FF;
    color: #004C54;
    border: solid 2px #F8F8FF;
}

.btn:hover {
    background: transparent;
    color: #F8F8FF;
}

.btn-green {
    background-color: #004C54;
    color: #F8F8FF;
    border: solid 2px #004C54;
}

.btn-green:hover {
    background: #F8F8FF;
    color: #004C54;
}

.one-link {
    justify-content: start;
}

.two-links {
    justify-content: space-between;
}

.scroll-sentinel {
    position: absolute;
    top: 50px;
    height: 1px;
}

.heading-container {
    width: 100%;
    color: #F8F8FF;
    padding-top: 75px;
}

.heading-container h2,
.sub-heading-container h2 {
    margin: 0;
}

.sub-heading-container {
    width: 100%;
    color: #F8F8FF;
}

.vertical-one-column {
    max-width: 412px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 16px;
}

.vertical-one-column-img-container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-one-column-img-container img {
    height: 300px;
}

.vertical-one-column-heading-container,
.vertical-one-column-text-container {
    color: #F8F8FF;
}

.skills,
.personal {
    width: 100%;
    max-width: 412px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}


.skills-card {
    width: 90%;
    max-width: 412px;
    border-radius: 10px;
    padding: 10px;
    border: solid 2px #4F4F4F;
}

.skills-card-heading-container {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.heading-bullet {
    width: 10px;
    height: 10px;
    background-color: #00FA96;
    border-radius: 10px;
}

.skills-card-heading-container h3 {
    color: #F8F8FF;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 8px;

}

.skills-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
}

.skill {
    padding: 8px 16px;
    border: solid 1px #4F4F4F;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
}

.skill p {
    margin: 0;
    color: #F8F8FF;
    font-size: 16px;
    font-weight: normal;
}

.subtext-container {
    margin: 0;
    color: #F8F8FF;
    font-size: 16px;
    font-weight: normal;
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel img {
    height: 300px;
}

.carousel-arrow-container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-arrow-container svg {
    height: 10%;
    width: auto;
}

.carousel-arrow-left {
    left: 0;
}

.carousel-arrow-right {
    right: 0;
}

.carousel-image-container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.carousel-image-container img {
    width: 100%;
    height: auto;
}

.personal-text {
    color: #F8F8FF;
    margin: 0;
}

.cta-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
}

.social-icon {
    margin: 0;
}

.one-column,
.two-columns,
.one-column a {
    color: #F8F8FF;
}

.article-container {
    padding: 75px 16px;

}

.one-column img,
.two-columns img {
    width: 100%;
}

.article-quote {
    text-align: center;
    padding: 16px 0;
    font-style: italic;
}

.one-column a {
    font-weight: 800;
}

.one-column a:hover {
    opacity: 80%;
}

.error-page {
    width: 100vw;
    height: 100vh;
}

.email-link {
    font-weight: 600;
}

@media only screen and (min-width: 500px) {

    .home,
    .about,
    .article {
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .article {
        flex-wrap: wrap;
    }

    .personal-bio,
    .vertical-one-column,
    .footer-container,
    .article-container {
        width: 468px;
    }

    .two-columns {
        display: flex;
        gap: 16px;
    }

    .two-columns img {
        width: 50%;
    }
}

@media only screen and (min-width: 800px) {

    .personal-bio,
    .vertical-one-column,
    .footer-container,
    .article-container {
        width: 672px;
    }

    .two-columns {
        gap: 32px;
        align-items: center;
    }

    .two-columns img {
        width: 40%;
    }
}